.continue-watching-movie-card {
    position: relative;
    text-align: center;
    color: white;
    font-family: "Manrope", sans-serif;
    margin: 0 8px; 
    width: 100%;
    flex-shrink: 1; 
    min-width: 0; 
    max-width: 100%;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.continue-watching-movie-card .continue-watching-image img {
    max-width: 100%;
    border-radius: 20px; 
    opacity: 0.5;
}

.continue-watching-title {
    position: absolute;
    top: 28%;
    left: 0%;
    font-size: 1.25vw;
    font-weight: bold;
    padding: 40px;
    
}

.continue-watching-genres {
    position: absolute;
    top: 50%;
    left: 0%;
    padding: 40px;
    font-size: 0.9vw;
}

.continue-watching-movie-card .continue-watching-genres img {
    margin: 0 8px; 
    width: 5px; 
    height: 5px; 
}

.continue-watching-duration {
    position: absolute;
    top: 40%;
    left: 0%;
    padding: 40px;
    font-size: 0.9vw;
}

  