.featured-movie-card {
    position: relative;
    text-align: center;
    color: white;
    font-family: "Manrope", sans-serif;
    margin: 0 8px;  
    width: 50%;
}

.featured-movie-card .feature-movie-image img {
    max-width: 200%;
    border-radius: 20px; 
    opacity: 0.5;
}

.feature-title {
    position: absolute;
    top: 50%;
    left: 0%;
    font-size: 175%;
    font-weight: bold;
    padding: 40px;
}
.description {
    position: absolute;
    top: 60%;
    left: 0%;
    font-size: 100%;
    padding: 40px;
}

.extra-information {
    display: flex;
    position: absolute;
    padding: 40px;
    top: 70%;
    left: 0%;
    font-size: 80%;
    

}
.feature-rating {
    margin: 0 16px; 
    
}

.featured-movie-card .feature-genres img {
    margin: 0 8px; 
    width: 5px; 
    height: 5px; 
}