.featured-movie-card {
    position: relative;
    text-align: center;
    color: white;
    font-family: "Manrope", sans-serif;
    margin: 0 8px;  
    width: 50%;
}

.featured-movie-card .feature-movie-image img {
    max-width: 200%;
    border-radius: 20px; 
    opacity: 0.5;
}

.feature-title {
    position: absolute;
    top: 50%;
    left: 0%;
    font-size: 1.5vw;
    font-weight: bold;
    padding: 40px;
    flex-shrink: 1; 
    min-width: 0; 
    max-width: 100%;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.feature-description {
    position: absolute;
    top: 60%;
    left: 0%;
    font-size: 1vw;
    padding: 40px;
    flex-shrink: 1; 
    min-width: 0; 
    max-width: 100%;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.extra-information {
    display: flex;
    position: absolute;
    padding: 40px;
    top: 70%;
    left: 0%;
    font-size: 0.9vw;
    flex-shrink: 1; 
    min-width: 0; 
    max-width: 100%;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    

}
.feature-rating {
    margin: 0 16px; 
    
}

.featured-movie-card .feature-genres img {
    margin: 0 8px; 
    width: 5px; 
    height: 5px; 
}