.movie-card {
    /*Sets the position to relative so that the text can be placed on top*/
    position: relative;
    text-align: center;
    color: white;
    font-family: "Manrope", sans-serif;
    margin: 0 8px; 
    width: 100%;
     /* Sets the text so it shrinks with the movie card*/
    flex-shrink: 1; 
    min-width: 0; 
    max-width: 100%;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}

.movie-card .movie-image img {
    max-width: 100%;
    border-radius: 20px; 
    opacity: 0.5;
}

.title {
    position: absolute;
    top: 28%;
    left: 0%;
    font-size: 1.25vw;
    font-weight: bold;
    padding: 40px;
}

.rating {
    position: absolute;
    top: 40%;
    left: 0%;
    padding: 40px;
}

.genres {
    position: absolute;
    top: 50%;
    left: 0%;
    padding: 40px;
    font-size: 0.9vw;
}

.movie-card .genres img {
    margin: 0 8px; 
    width: 5px; 
    height: 5px; 
}



  