/* The whole page */
.top-picks {
    display: flex;
    align-items: center;
    background-color: #202020;
}

h1 {
    background-color: #202020;
    color: white;
    font-family: "Manrope", sans-serif;
    text-align: left;
    font-size: 100;
    padding: 20px;

}

/* The larger movie card on the left */
.main-focus {
    display: flex;
    align-items: left;
    width: 50%;
    padding: 20px;
    flex-wrap: wrap;
}

/* The grid on the right hand side */
.grid-movies {
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    gap: 20px;
    width: 50%;
}

/* A single row in the grid of movies */
.row {
    display: flex;
    
}

/* A single movie card in the grid of movies */
.entry {
    position: relative;
    text-align: right;
    
}
