.top-picks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202020;
    
}

body {
    background-color: #202020;
}

h1 {
    background-color: #202020;
    color: white;
    font-family: "Manrope", sans-serif;
    text-align: left;
    font-size: 100;
    padding: 20px;

}

.main-focus {
    display: flex;
    align-items: left;
    width: 50%;
    padding: 20px;
}

.grid-movies {
    display: flex;
    padding: 20px;
    justify-content: flex-end; 
    flex-wrap: wrap;
    gap: 20px;
    width: 50%;
}

.row {
    display: flex;
    
}

.entry {
    position: relative;
    text-align: right;
    
}
