body {
    background-color: #202020;
}

h1 {
    background-color: #202020;
    color: white;
    font-family: "Manrope", sans-serif;
    text-align: left;
    font-size: 100;
    padding: 20px;
}

.recommendations {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
}

.header {
    display: flex;
    align-items: center;
    align-content: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    font-family: "Manrope", sans-serif;
    background-color: #202020; 
    border-radius: 20px; 
    border: 2px solid #94E5FF; 
    padding: 20px;
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 10px 12px;
    text-decoration: none; 
    display: block;
    border-radius: 5px;
}

.dropdown-content a:hover {
    color: #94E5FF;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-btn {
    display: flex;
    align-items: center;
    background-color: #202020;
    border: none;
    color: white;
    text-align: center;
    font-size: 16px;
    border-radius: 25px;
    padding: 20px;
}

.dropdown-btn img {
    margin-right: 8px; 
}


.entry {
    position: relative;
    text-align: right;
    max-width: 18%; 
    max-height: 100%;
    margin: 10px 10px; 
}

.entry label {
    position: absolute;
    padding: 40px;
    top: -20%;
    left: 70%;
    color: gray;
    font-family: "Manrope", sans-serif;
    font-size: 40px;
    font-weight: bold;

}

